@using CarRent.Areas.Client.ViewModels
@model SliderListViewMOdel

<div class="col-lg-6">
    <div class="box">
        <h5 style="color: #0c9ae0; font-weight: bold;">@Model.SmallHeader</h5>
        <h1 class="qodef-m-title">@Model.Header</h1>
        <h6 style="font-weight: bold; color: #494d56; margin-bottom: 7%;">@Model.Tittle</h6>
        <a href="./rent.html"><span>Book Now</span></a>
    </div>
</div>
<div class="col-lg-6">
    <div class="box">
        <img src="https://carrentbaku.az/storage/2022/11/cars-bg-2.png" alt="">
    </div>
</div>